<script src="../sewadetail/addsewadetail.js"></script>
<table class="table table-borderless" id="inputSewaDetailTable">

<tr>
    <td>Cari Film Berdasarkan?</td>
    <td>
        <select name="cariFilmOpsi" id="cariFilmOpsi">
            <option value="" selected="selected" >Pilih berdasarkan</option>
        </select>
        <br>
        <small id="err" class="text-danger"></small>
    </td>
</tr>
<table class="table table-borderless" id="opsiDetailTable"> </table>
<table class="table table-borderless" id="opsiFilm"> </table>
<tr>
    <td></td>
    <td>
        <button id="btnSewaDetailBatal" class="btn btn-outline-dark"> Batal </button>
        <button id="btnSewaDetailTambah" class="btn btn-outline-dark"> Tambahkan </button>
    </td>
</tr>
</table>