<script src="../sewadetail/verifsewadetail.js"></script>
<table class="table table-borderless" id="inputSewaDetailTable" table-layout="auto">
    <tr>
        <td>Nama Peminjam</td>
        <td>
            <input id="namaPeminjamInput" class="form-control" maxlength="100">
            <small id="errNamaPeminjam" class="text-danger"></small>
            <input id="simpanIdHeader" class="text-danger" type="number" hidden="hidden"></input>
        </td>
    </tr>
    <table class="table table-striped" id="verifSewaTable" table-layout="auto">
        <thead>
        <tr>
            <th>Nama Film</th>
            <th>Lama Sewa(Hari)</th>
            <th>Harga</th>
            <th>Total Harga</th>
        </tr>
        </thead>
        <tbody id="verifSewaTBody"></tbody>
        <tbody>
        <tr>
            <th>Total Harga</th>
            <td></td>
            <td></td>
            <th id="verifTotalHarga" class="text-right" >0</th>
        </tr>
        </tbody>
    </table>
    <tr>
        <td></td>
        <td>
            <button id="btnVerifSewaBatal" class="btn btn-outline-warning"> Batal </button>
            <button id="btnVerifSewaProses" class="btn btn-outline-success"> Proses </button>
        </td>
    </tr>
</table>