<script src="../artis/addartis.js"></script>
<table class="table table-borderless">
    <tr>
        <td>Nama Artis</td>
        <td>
            <input id="namaArtisInput" class="form-control" maxlength="100">
            <small id="errNamaArtis" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>
            <select name="opsiJk" id="opsiJk">
                <option value="" selected="selected" >Pilih Jenis Kelamin?</option>
            </select>
            <br>
            <small id="errJk" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Bayaran</td>
        <td>
            <input id="bayaranArtisInput" class="form-control" type="number" min="0">
            <small id="errBayaranArtis" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Award</td>
        <td>
            <input id="awardArtisInput" class="form-control" type="number" min="0">
            <small id="errAwardArtis" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Negara</td>
        <td>
            <select name="opsiNegara" id="opsiNegara">
                <option value="" selected="selected" >Pilih asal Negara?</option>
            </select>
            <br>
            <small id="errOpsiNegara" class="text-danger"></small>
        </td>
    </tr>
</table>
<table class="table table-borderless">
    <tr>
        <td></td>
        <td>
            <button id="btnAddArtisBatal" class="btn btn-outline-dark">Batal</button>
            <button id="btnAddArtisBuat" class="btn btn-outline-dark">Buat</button>
        </td>
    </tr>
</table>