<input th:value="${id}" type="hidden" id="delArtisId">
<h5>Apakah kamu yakin menghapus data artis ini? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>~ Kode Artis</th>
        <td>
            <input id="kodeDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Name Artis</th>
        <td>
            <input id="namaDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Jenis Kelamin</th>
        <td>
            <input id="jkDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Bayaran</th>
        <td>
            <input id="bayaranDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Award</th>
        <td>
            <input id="awardDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Negara</th>
        <td>
            <input id="negaraDel" readonly>
        </td>
    </tr>

</table>
<button id="delArtisBtnBatal" class="btn btn-outline-dark">Batal</button>
<button id="delArtisBtnHapus" class="btn btn-danger">Hapus</button>

<script src="../artis/deleteartis.js"></script>