<input th:value="${id}" type="hidden" id="editArtisId">

<table class="table table-borderless">
    <tr>
        <td>Kode Artis</td>
        <td>
            <input id="kodeEditInput" class="form-control bg-gray-400" maxlength="50" readonly>
        </td>
    </tr>
    <tr>
        <td>Nama Artis</td>
        <td>
            <input id="namaEditInput" class="form-control" maxlength="100">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>
            <select name="editOpsiJk" id="editOpsiJk">
                <option value="" selected="selected" >Pilih Jenis Kelamin?</option>
            </select>
            <br>
            <small id="errJk" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Bayaran</td>
        <td>
            <input id="editBayaranArtisInput" class="form-control" type="number" min="0">
            <small id="errBayaranArtis" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Award</td>
        <td>
            <input id="editAwardArtisInput" class="form-control" type="number" min="0">
            <small id="errAwardArtis" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Negara</td>
        <td>
            <select name="editOpsiNegara" id="editOpsiNegara">
                <option value="" selected="selected" >Pilih asal Negara?</option>
            </select>
            <br>
            <small id="errOpsiNegara" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editArtisBtnBatal" class="btn btn-outline-dark">Batal</button>
            <button id="editArtisBtnBuat" class="btn btn-warning">Simpan Perubahan</button>
        </td>
    </tr>
</table>

<script src="../artis/editartis.js"></script>