<table class="table table-borderless">
    <tr>
        <td>Nama Negara</td>
        <td>
            <input id="namaNegaraInput" class="form-control" maxlength="100">
            <small id="errNamaNegara" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="btnAddNegaraBatal" class="btn btn-outline-dark">Batal</button>
            <button id="btnAddNegaraBuat" class="btn btn-outline-dark">Buat</button>
        </td>
    </tr>
</table>

<script src="../negara/addnegara.js"></script>