<input th:value="${id}" type="hidden" id="delNegaraId">
<h5>Apakah kamu yakin menghapus data negara ini? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>~ Kode Negara</th>
        <td>
            <input id="kodeDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Name Negara</th>
        <td>
            <input id="namaDel" readonly>
        </td>
    </tr>
</table>
<button id="delNegaraBtnBatal" class="btn btn-outline-dark">Batal</button>
<button id="delNegaraBtnHapus" class="btn btn-danger">Hapus</button>

<script src="../negara/deletenegara.js"></script>