<input th:value="${id}" type="hidden" id="editNegaraId">

<table class="table table-borderless">
    <tr>
        <td>Kode Negara</td>
        <td>
            <input id="kodeEditInput" class="form-control bg-gray-400" maxlength="50" readonly>
        </td>
    </tr>
    <tr>
        <td>Nama Negara</td>
        <td>
            <input id="namaEditInput" class="form-control" maxlength="50">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editNegaraBtnBatal" class="btn btn-outline-dark">Batal</button>
            <button id="editNegaraBtnBuat" class="btn btn-warning">Simpan Perubahan</button>
        </td>
    </tr>
</table>
<script src="../negara/editnegara.js"></script>

