<script src="../genre/addgenre.js"></script>
<table class="table table-borderless">
    <tr>
        <td>Nama Genre</td>
        <td>
            <input id="namaGenreInput" class="form-control" maxlength="100">
            <small id="errNamaGenre" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="btnAddGenreBatal" class="btn btn-outline-dark">Batal</button>
            <button id="btnAddGenreBuat" class="btn btn-outline-dark">Buat</button>
        </td>
    </tr>
</table>