<input th:value="${id}" type="hidden" id="delGenreId">
<h5>Apakah kamu yakin menghapus data genre ini? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <td>Kode Genre</td>
        <td>
            <input id="kodeDel" readonly>
        </td>
    </tr>
    <tr>
        <td>Name Genre</td>
        <td>
            <input id="namaDel" readonly>
        </td>
    </tr>
</table>
<button id="delGenreBtnBatal" class="btn btn-outline-dark">Batal</button>
<button id="delGenreBtnHapus" class="btn btn-danger">Hapus</button>

<script src="../genre/deletegenre.js"></script>