<input th:value="${id}" type="hidden" id="editGenreId">

<table class="table table-borderless">
    <tr>
        <td>Kode Genre</td>
        <td>
            <input id="kodeEditInput" class="form-control bg-gray-400" maxlength="50" readonly>
        </td>
    </tr>
    <tr>
        <td>Nama Genre</td>
        <td>
            <input id="namaEditInput" class="form-control" maxlength="50">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editGenreBtnBatal" class="btn btn-outline-dark">Batal</button>
            <button id="editGenreBtnBuat" class="btn btn-warning">Simpan Perubahan</button>
        </td>
    </tr>
</table>
<script src="../genre/editgenre.js"></script>
