<input th:value="${id}" type="hidden" id="editDetailHeaderId">

<table class="table table-borderless">
    <tr>
        <td>Nama Penyewa</td>
        <td>
            <input id="headerNamaPenyewa" class="form-control" maxlength="100" readonly>
            <small id="errheaderNamaPenyewa" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Hari Transaksi</td>
        <td>
            <input id="headerHariTransaksi" class="form-control" maxlength="100" readonly>
            <small id="errheaderHariTransaksi" class="text-danger"></small>
        </td>
    </tr>
    <table class="table table-striped" id="headerSewaTable" table-layout="auto">
        <thead>
        <tr>
            <th>Nama Film</th>
            <th>Lama Sewa(Hari)</th>
            <th>Harga</th>
            <th>Total Harga</th>
        </tr>
        </thead>
        <tbody id="headerSewaTBody"></tbody>
        <tbody>
        <tr>
            <th>Total Harga</th>
            <td></td>
            <td></td>
            <th id="headerTotalHarga" class="text-right" >0</th>
        </tr>
        </tbody>
    </table>
    <tr>
        <td></td>
        <td>
            <button id="btnHeaderSewaClose" class="btn btn-outline-warning"> Tutup </button>
        </td>
    </tr>
</table>
<script src="../sewaheader/detailsewaheader.js"></script>

