<script src="../film/addfilm.js"></script>
<table class="table table-borderless">
    <tr>
        <td>Nama Film</td>
        <td>
            <input id="namaFilmInput" class="form-control" maxlength="100">
            <small id="errNamaFilm" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>
            <select name="opsiGenre" id="opsiGenre">
                <option value="" selected="selected" >Pilih Genre</option>
            </select>
            <br>
            <small id="errOpsiGenre" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Artis</td>
        <td>
            <select name="opsiArtis" id="opsiArtis">
                <option value="" selected="selected" >Pilih Artis</option>
            </select>
            <br>
            <small id="errOpsiArtis" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Produser</td>
        <td>
            <select name="opsiProduser" id="opsiProduser">
                <option value="" selected="selected" >Pilih Produser</option>
            </select>
            <br>
            <small id="errOpsiProduser" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Pendapatan</td>
        <td>
            <input id="pendapatanFilmInput" class="form-control" type="number" min="0">
            <small id="errPendapatanFilm" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Nominasi</td>
        <td>
            <input id="nominasiFilmInput" class="form-control" type="number" min="0">
            <small id="errNominasiFilm" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="btnAddFilmBatal" class="btn btn-outline-dark">Batal</button>
            <button id="btnAddFilmBuat" class="btn btn-outline-dark">Buat</button>
        </td>
    </tr>
</table>