<input th:value="${id}" type="hidden" id="delFilmId">
<h5>Apakah kamu yakin menghapus data film ini? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>~ Kode Film</th>
        <td>
            <input id="kodeDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Nama Film</th>
        <td>
            <input id="namaDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Genre</th>
        <td>
            <input id="genreDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Artis</th>
        <td>
            <input id="artisDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Produser</th>
        <td>
            <input id="produserDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Pendapatan</th>
        <td>
            <input id="pendapatanDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Nominasi</th>
        <td>
            <input id="nominasiDel" readonly>
        </td>
    </tr>
</table>
<button id="delFilmBtnBatal" class="btn btn-outline-dark">Batal</button>
<button id="delFilmBtnHapus" class="btn btn-danger">Hapus</button>

<script src="../film/deletefilm.js"></script>