<input th:value="${id}" type="hidden" id="editFilmId">

<table class="table table-borderless">
  <tr>
    <td>Kode Film</td>
    <td>
      <input id="kodeEditInput" class="form-control bg-gray-400" maxlength="50" readonly>
    </td>
  </tr>
  <tr>
    <td>Nama Film</td>
    <td>
      <input id="editNamaFilmInput" class="form-control" maxlength="100">
      <small id="errNamaFilm" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td>Genre</td>
    <td>
      <select name="editOpsiGenre" id="editOpsiGenre">
        <option value="" selected="selected" >Pilih Genre</option>
      </select>
      <br>
      <small id="errOpsiGenre" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td>Artis</td>
    <td>
      <select name="editOpsiArtis" id="editOpsiArtis">
        <option value="" selected="selected" >Pilih Artis</option>
      </select>
      <br>
      <small id="errOpsiArtis" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td>Produser</td>
    <td>
      <select name="editOpsiProduser" id="editOpsiProduser">
        <option value="" selected="selected" >Pilih Produser</option>
      </select>
      <br>
      <small id="errOpsiProduser" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td>Pendapatan</td>
    <td>
      <input id="editPendapatanFilmInput" class="form-control" type="number" min="0">
      <small id="errPendapatanFilm" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td>Nominasi</td>
    <td>
      <input id="editNominasiFilmInput" class="form-control" type="number" min="0">
      <small id="errNominasiFilm" class="text-danger"></small>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button id="editFilmBtnBatal" class="btn btn-outline-dark">Batal</button>
      <button id="editFilmBtnBuat" class="btn btn-warning">Simpan Perubahan</button>
    </td>
  </tr>
</table>

<script src="../film/editfilm.js"></script>