<script src="../produser/addproduser.js"></script>
<table class="table table-borderless">
    <tr>
        <td>Nama Produser</td>
        <td>
            <input id="namaProduserInput" class="form-control" maxlength="100">
            <small id="errNamaProduser" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Internasional</td>
        <td>
            <select name="international" id="international">
                <option value="" selected="selected" >Pilih apakah internasional?</option>
            </select>
            <br>
            <small id="errInternational" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="btnAddProduserBatal" class="btn btn-outline-dark">Batal</button>
            <button id="btnAddProduserBuat" class="btn btn-outline-dark">Buat</button>
        </td>
    </tr>
</table>