<input th:value="${id}" type="hidden" id="delProduserId">
<h5>Apakah kamu yakin menghapus data produser ini? </h5>

<table class="table table-borderless table-sm">
    <tr>
        <th>~ Kode Produser</th>
        <td>
            <input id="kodeDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ Name Produser</th>
        <td>
            <input id="namaDel" readonly>
        </td>
    </tr>
    <tr>
        <th>~ International</th>
        <td>
            <input id="interDel" readonly>
        </td>
    </tr>
</table>
<button id="delProduserBtnBatal" class="btn btn-outline-dark">Batal</button>
<button id="delProduserBtnHapus" class="btn btn-danger">Hapus</button>

<script src="../produser/deleteproduser.js"></script>