<input th:value="${id}" type="hidden" id="editProduserId">

<table class="table table-borderless">
    <tr>
        <td>Kode Produser</td>
        <td>
            <input id="kodeEditInput" class="form-control bg-gray-400" maxlength="50" readonly>
        </td>
    </tr>
    <tr>
        <td>Nama Produser</td>
        <td>
            <input id="namaEditInput" class="form-control" maxlength="50">
            <small id="errName" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Internasional</td>
        <td>
            <select name="editInternational" id="editInternational">
                <option value="" selected="selected" >Pilih apakah internasional?</option>
            </select>
            <br>
            <small id="errInternational" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editProduserBtnBatal" class="btn btn-outline-dark">Batal</button>
            <button id="editProduserBtnBuat" class="btn btn-warning">Simpan Perubahan</button>
        </td>
    </tr>
</table>

<script src="../produser/editproduser.js"></script>